<html>
	<head>
		
		<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
	 
		<link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
	 
	</head>
	<body style="margin-top:20px; margin-left:20px;background-color:#90caf9;">
		<form action="/follow" method="POST">
			<h1 style = "margin-left:50; margin-top: 50">{{.user}}</h1> <div></div>
			<input type="submit" style = "margin-left: 100" value={{.following}}></input>
			<input type="text" style = "margin-top:50; margin-left: 100; visibility: hidden" name = "username" value={{.user}} required/>
		</form>

		<style type="text/css">
			table, th, td{
				border: 1px solid black;
			}
		</style>

		<table style = "margin-top:50; margin-left: 100" >
			<th>Time</th>
			<th>Post</th>
			
			{{range .posts}}
				<tr>
					<td>{{.Timestr}}</td>
					<td>{{.Content}}</td>
				</tr>
			{{end}}
		</table>

		<div>
		<style type="text/css">
			table, th, td{
				border: 1px solid black;
			}
		</style>

		<h1 style="margin-top:30px; margin-left:45px;">People They Are Following</h1>
		<div>
			<style type="text/css">
				table, th, td{
					border: 1px solid black;
				}
			</style>
			<table style="margin-top:20; margin-left:100px;">
				<th>Username</th>
				{{range .follows}}
					<tr>
						<td> <a href="/user/{{.}}">{{.}}</a> </td>
					</tr>
				{{end}}
			</table>
		</div>
		
		<div style="margin-top:100px; margin-left:45px;">
			<a href="/browse">Find other users</a>
		</div>
		<div style="margin-top:20px; margin-left:45px;">
			<a href="/home">Home</a>
		</div>
		<div style="margin-top:20px; margin-left:45px;">
			<a href="/logout">Logout</a>
		</div>
	</body>

</html>
